@charset "UTF-8";
/* CSS Document */

body{font-size: 18px; -webkit-font-smoothing: antialiased; font-family: 'Roboto', sans-serif;  line-height: 1.4;
 color:#6a6a67; font-weight: 300;}
h1,h2,h3,h4,h5,h6{margin:0px 0px 10px 0px; font-weight: 300; color: #393935; }
h1 {font-size: 36px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
p {margin: 0 0 20px;line-height: 1.6;}
ul, ol {}
ul li, ol li {}
a {color: #818791; text-decoration: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; 
transition: all 0.3s;}
a:focus, a:hover {text-decoration: none;color: #ffde00;}
strong{ font-weight: 600;}
blockquote{padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #ffde00; font-style: italic;}
blockquote.alignright{max-width: 50%;}
blockquote.alignleft{max-width: 50%;}
p:last-child{margin-bottom: 0px;}
.listnone{list-style: none;margin: 0px 0px 20px 0px; padding: 0;}
.required{color: red} 
.lead {margin-bottom: 20px; font-size: 21px; font-weight: 400; line-height: 1.4; color: #20252c;}
::selection {background: #ffecb3; color: #333;}

/*----------------------------------------------
 input form
 ----------------------------------------------*/

label{}
.control-label{text-transform: uppercase;color: #393935; font-size: 14px; font-weight: 500;}
.form-control{width: 100%; height: 63px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555;
 background-color: #f5f4f1; background-image: none; border: 1px solid #dcdbd9; border-radius: 2px;
-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075); box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
margin-bottom: 10px;}
.form-control:focus {border-color: #dcdbd9;
outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); background-color: #f5f4f1;}
.textarea.form-control{background-color: #eee;height: auto;}
.required{color: red}

/*-----------------------------------
space css class
-----------------------------------*/

 /*----------------
 margin space
 -----------------*/
 .mb0{margin-bottom: 0px;}
 .mb10{margin-bottom: 10px;}
 .mb20{margin-bottom: 20px;}
 .mb30{margin-bottom: 30px;}
 .mb40{margin-bottom: 40px;}
 .mb60{margin-bottom: 60px;}
 .mb80{margin-bottom: 80px;}
 .mb100{margin-bottom: 100px;}

.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt60{margin-top: 60px;}
.mt80{margin-top: 80px;}
.mt100{margin-top: 100px;}

/*----- less margin space from top --*/
.mt-20{margin-top: -20px;}
.mt-40{margin-top: -40px;}
.mt-60{margin-top: -60px;}
.mt-80{margin-top: -80px;}

/*---------------
padding space
-----------------*/
.nopadding{padding: 0px;}
.nopr{padding-right: 0px;}
.nopl{padding-left: 0px;}
.pinside10{padding: 10px;}
.pinside20{padding: 20px;}
.pinside30{padding: 30px;}
.pinside40{padding: 40px;}
.pinside50{padding: 50px;}
.pinside60{padding: 60px;}
.pinside80{padding: 80px;}

.pdt10{padding-top: 20px;}
.pdt20{padding-top: 20px;}
.pdt30{padding-top: 30px;}
.pdt40{padding-top: 40px;}
.pdt60{padding-top: 60px;}
.pdt80{padding-top: 80px;}

.pdb10{padding-bottom: 10px;}
.pdb20{padding-bottom: 20px;}
.pdb30{padding-bottom: 30px;}
.pdb40{padding-bottom: 40px;}
.pdb60{padding-bottom: 60px;}
.pdb80{padding-bottom: 80px;}

.pdl10{padding-left: 10px;}
.pdl20{padding-left: 20px;}
.pdl30{padding-left: 30px;}
.pdl40{padding-left: 40px;}
.pdl60{padding-left: 60px;}
.pdl80{padding-left: 80px;}

.pdr10{padding-right: 10px;}
.pdr20{padding-right: 20px;}
.pdr30{padding-right: 30px;}
.pdr40{padding-right: 40px;}
.pdr60{padding-right: 60px;}
.pdr80{padding-right: 80px;}

/*---------------
 Section Space
 
 * Section space help to create top bottom space. 
 *
-----------------*/

.section-space20{padding-top: 20px;padding-bottom: 20px;}
.section-space40{padding-top: 40px;padding-bottom: 40px;}
.section-space60{padding-top: 60px;padding-bottom: 60px;}
.section-space80{padding-top: 80px;padding-bottom: 80px;}
.section-space100{padding-top: 100px;padding-bottom: 100px;}
.section-space120{padding-top: 100px;padding-bottom: 120px;}


/*-----------------------------------------
 background & block color 
------------------------------------------*/

.bg-light{background-color: #f7f8fc;}
.bg-primary{background-color: #ec6b08; color: #fff;}
.bg-default{background-color: #125687; color: #fff;}
.bg-white{background-color: #fff; }
.outline{border:2px solid #ededea;}
.link-title{color: #393935;}
.small-title{text-transform: uppercase; font-size: 22px;
    font-weight: 700;}
.white-text{color: #fff;}
/*-----------------------------------------
 Buttons
------------------------------------------*/

.btn {padding: 14px 18px; border-radius: 4px; font-size: 14px; line-height: 14px; font-weight: 900;
letter-spacing: 1px; text-transform: uppercase; border:transparent; margin-bottom: 5px;}
.btn-default { background: #ffde00; color: #282826;border:transparent;}
.btn-default:hover { background-color: #f7d90d; color: #282826;}
.btn-default.focus, .btn-default:focus { color: #282826;
  background-color: #f7d90d; border-color: #f7d90d;}
.btn-primary {background: #595b5f; color: #fff;}
.btn-primary:hover { background-color: #3d3f42; color: #fff; border:transparent;}
.btn-primary.focus, .btn-primary:focus { color: #fff; background-color: #385860; border-color: #385860;}
.btn-secondary {background-color: #403b39; color: #fff;}
.btn-secondary:hover {background-color: #312c2a; color: #fff;}
.btn-lg {font-size: 14px; padding: 20px 30px; }
.btn-sm  {font-size: 14px; padding: 10px 14px;}
.btn-xs {font-size: 12px;padding: 6px 8px;}
.btn-link { color: #4588f9; font-weight: 600; font-size: 14px; text-transform: uppercase; text-decoration: underline;}
.btn-link:hover { color: #1b5fd1; text-decoration: none;}

/*----------------------------------------
 Header
 ----------------------------------------*/
 .header{padding-top: 20px; padding-bottom: 20px;}
 .logo{padding-top: 10px;}

/*------------------ Navigation ----------------*/

.navigation{background-color: transparent; -webkit-transition: background-color .8s ease-out;
 -moz-transition: background-color .8s ease-out; -o-transition: background-color .8s ease-out;
  transition: background-color .8s ease-out; position: relative; border-bottom: 1px solid rgb(86, 86, 86);}
.navigation-collapse{background-color: #1b2026;}

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block;
  position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#navigation:after,
#navigation > ul:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
#navigation #menu-button {display: none;}
#navigation {background: transparent;}
#navigation > ul > li {float: left;}
#navigation.align-center > ul {font-size: 0; text-align: center;}
#navigation.align-center > ul > li {display: inline-block; float: none;}
#navigation.align-center ul ul {text-align: left;}
#navigation.align-right > ul > li {float: right;}
#navigation > ul > li > a {padding: 17px; font-size: 12px; letter-spacing: 1px; text-decoration: none; color: #fff;
  font-weight: 700; text-transform: uppercase;}
#navigation > ul > li:hover > a {color: #ffffff;}
#navigation > ul > li.has-sub > a {padding-right: 30px;}
#navigation > ul > li.has-sub > a:after {position: absolute; top: 22px; right: 11px; width: 8px; height: 2px; 
  display: block; background: #dddddd; content: '';}
#navigation > ul > li.has-sub > a:before {position: absolute; right: 14px; font-family: FontAwesome; content: "\f107";
  -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease;
  -o-transition: all .25s ease; transition: all .25s ease;}
#navigation > ul > li.has-sub:hover > a:before {top: 23px; height: 0;}
#navigation ul ul {position: absolute; left: -9999px;}
#navigation.align-right ul ul {text-align: right; }
#navigation ul ul li {height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; 
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#navigation li:hover > ul {left: auto;}
#navigation.align-right li:hover > ul {left: auto; right: 0;}
#navigation li:hover > ul > li {height: 35px;}
#navigation ul ul ul {margin-left: 100%; top: 0; }
#navigation.align-right ul ul ul {margin-left: 0; margin-right: 100%; }
#navigation ul ul li a {border-bottom: 1px solid rgba(150, 150, 150, 0.15); padding: 11px 15px; width: 170px;
  font-size: 12px; text-decoration: none; color: #dddddd; font-weight: 400; background: #333333; }
#navigation ul ul li:last-child > a,
#navigation ul ul li.last-item > a {border-bottom: 0;}
#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {color: #ffffff;}
#navigation ul ul li.has-sub > a:after {position: absolute; top: 16px; right: 11px; width: 8px; height: 2px;
  display: block; background: #dddddd; content: '';}
#navigation.align-right ul ul li.has-sub > a:after {right: auto; left: 11px;}
#navigation ul ul li.has-sub > a:before {position: absolute; top: 13px; right: 14px; display: block; width: 2px;
  height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#navigation.align-right ul ul li.has-sub > a:before {right: auto; left: 14px;}
#navigation ul ul > li.has-sub:hover > a:before {top: 17px; height: 0;}
#navigation.small-screen {width: 100%;}
#navigation.small-screen ul {width: 100%; display: none;}
#navigation.small-screen.align-center > ul {text-align: left;}
#navigation.small-screen ul li {width: 100%; border-top: 1px solid rgba(120, 120, 120, 0.2);}
#navigation.small-screen ul ul li,
#navigation.small-screen li:hover > ul > li {height: auto;}
#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {width: 100%; border-bottom: 0;}
#navigation.small-screen > ul > li {float: none;}
#navigation.small-screen ul ul li a {padding-left: 25px;}
#navigation.small-screen ul ul ul li a {padding-left: 35px;}
#navigation.small-screen ul ul li a {color: #dddddd; background: none;}
#navigation.small-screen ul ul li:hover > a,
#navigation.small-screen ul ul li.active > a {color: #ffffff;}
#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen.align-right ul ul {position: relative; left: 0; width: 100%; margin: 0; text-align: left;}
#navigation.small-screen > ul > li.has-sub > a:after,
#navigation.small-screen > ul > li.has-sub > a:before,
#navigation.small-screen ul ul > li.has-sub > a:after,
#navigation.small-screen ul ul > li.has-sub > a:before { display: none;}
#navigation.small-screen #menu-button {display: block; padding: 17px; color: #fff; cursor: pointer; font-size: 12px;
  text-transform: uppercase; font-weight: 700;}
#navigation.small-screen #menu-button:after {position: absolute; top: 22px; right: 17px; display: block; height: 8px;
  width: 20px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; content: '';}
#navigation.small-screen #menu-button:before {position: absolute; top: 16px; right: 17px; display: block; height: 2px;
  width: 20px; background: #fff; content: '';}
#navigation.small-screen #menu-button.menu-opened:after {top: 23px; border: 0; height: 2px; width: 15px; 
  background: #ffffff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); transform: rotate(45deg);}
#navigation.small-screen #menu-button.menu-opened:before {top: 23px; background: #ffffff; width: 15px; 
  -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg); transform: rotate(-45deg);}
#navigation.small-screen .submenu-button {position: absolute; z-index: 99; right: 0; top: 0; display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2); height: 46px; width: 46px; cursor: pointer;}
#navigation.small-screen .submenu-button.submenu-opened {background: #262626;}
#navigation.small-screen ul ul .submenu-button {height: 34px; width: 34px; }
#navigation.small-screen .submenu-button:after {position: absolute; top: 22px; right: 19px; width: 8px; height: 2px;
  display: block; background: #fff; content: '';}
#navigation.small-screen ul ul .submenu-button:after {top: 15px; right: 13px;}
#navigation.small-screen .submenu-button.submenu-opened:after {background: #ffffff; }
#navigation.small-screen .submenu-button:before {position: absolute; top: 19px; right: 22px; display: block;
  width: 2px; height: 8px; background: #fff; content: '';}
#navigation.small-screen ul ul .submenu-button:before {top: 12px; right: 16px;}
#navigation.small-screen .submenu-button.submenu-opened:before {display: none;}
#navigation.small-screen.select-list { padding: 5px;}
/*-----------------------------------------
  content
-----------------------------------------*/

.content{padding-bottom: 100px;padding-top: 100px;}
.content-area{}

/*-----------------------------------------
  sidebar
-----------------------------------------*/
.widget-area{}
.widget{border-bottom: 1px solid #ebeae5; padding-bottom: 39px;
margin-bottom: 40px;}
.widget ul {}
.widget ul li{margin-bottom: 5px; padding-bottom: 5px;}
.widget-title{margin-bottom: 40px;}
.widget-search{} 
.widget-categories{}
.widget-categories ul{}
.widget-categories ul li{}
.widget-categories ul li a{text-decoration: underline;}
.widget-recent-post{}
.recent-title{}
.widget-archive{}
.widget-tags{}
/*-----------------------------------------
  blog post listing
-----------------------------------------*/
.post-holder{}
.post-header{}
.post-title{}
.post-meta{font-size: 12px; font-weight: 500;line-height: 1.4; text-transform: uppercase; color: #a6a6a1;}
  .meta-date{}
  .meta-author{}
  .meta-comment{}
  .meta-cat{}
  .meta-date, .meta-author, .meta-comment, .meta-cat{margin-right: 18px; }
.meta-link{ /* add custom color link for meta link*/ }
.meta-tags{}
.post-content{padding-bottom: 40px;}

/*------------ post type ---------*/
.post-img{position: relative;}
.post-img img{width: 100%;}
.post-sticky{position: absolute; top: 0px; right: 10px; 
  background: url(../images/sticky-sign.png); width: 27px; height: 30px;}
.post-video{}
.post-gallery{}
.post-gallery .owl-buttons{}
.post-gallery .owl-buttons .owl-prev{ position: absolute; left: 0px; top: 45%;}
.post-gallery .owl-buttons .owl-next{ position: absolute; right: 0px; top: 45%;}
 

/*-----------------------------------------
 Blog single 
 -----------------------------------------*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

 .post-navigation{border-bottom: 1px solid #eee; padding-bottom: 40px;}
 .nav-links{}
 .nav-previous{}
 .nav-next{}
 .nav-previous, .nav-next{ font-size: 12px;}
 .prev-link{}
 .next-link{}

 .next-link, .prev-link{margin-bottom: 20px; display: inline-block; color: #333; font-weight: 400;}

.post-related{border-bottom: 1px solid #eee; padding-bottom: 40px;}
 
.related-title{}
.post-related-content{}

.post-author{border-bottom: 1px solid #eee; padding-bottom: 40px;}
.author-img{}
.author-bio{}
.author-header{}
.author-content{}
.author-social{}

.comments-area{border-bottom: 1px solid #ebeae5; padding-bottom: 40px;}
.comments-title{}
.comment-list{}
  .comment{}
  .comment-body{margin-top: 20px;}
  .comment-author{}

  .comment-author img{width: 120px; float: left;}
  .comment-info{padding-left: 140px;}
   .comment-header{}
   .user-title{color: #393935; font-weight: 500;}
   .comment-meta{margin-bottom: 20px; font-size: 13px; font-weight: 400; text-transform: uppercase;}
   .comment-meta-date{}
   .comment-content{}
.reply{}
.childern{padding-left: 140px;}

.leave-comments{}




/*--------------------------------------
Elements
----------------------------------------*/
/*----- Page Header ---*/

.page-header{background-color: #4588f9;margin: 0px; border:transparent; padding: 80px 0px;text-align: center;}
.page-title{color: #fff;text-transform: uppercase; font-size: 24px; font-weight: 700; letter-spacing: 0px; margin-bottom: 10px; }
.page-text{color: #c8dcfe;}
.page-breadcrumb{background-color: #3f7de0;}
.page-breadcrumb .breadcrumb{margin-bottom: 0px; padding: 10px 0px;background-color: transparent; font-size: 14px; 
  text-transform: uppercase; font-weight: 700;}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li a{
   color: #c8dcfe; 
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #c8dcfe;
    content: "/\00a0";
}
.breadcrumb>.active{color: #fff;}
/*----- Thumbnail Block ---*/

.thumbnail-block{}
.thumbnail-img{}
.thumbnail-img img{width: 100%;}
.thumbnail-content{}
.thumbnail-outline{border:1px solid #e8e8e8;}

/*----- Service Thumbnail Block ---*/

.service-block{}
.service-img{}
.service-content{}
 

.post-masonry{}
.isotope-item { z-index: 2;}
.isotope-hidden.isotope-item {pointer-events: none; z-index: 1;}
.isotope, .isotope .isotope-item { /* change duration value to whatever you like */
   -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s;}
.isotope {-webkit-transition-property: height, width; -moz-transition-property: height, width;
  transition-property: height, width;}
.isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity;}


/*--------------- Features block class --------------*/

.feature{}
.feature-icon{font-size: 32px;color: #306ed3;}
.feature .feature-icon{margin-bottom: 20px;} 
/*-------- feature icon left --------*/

.feature-left{}
.feature-left .feature-icon{float: left;}
.feature-left .feature-content{padding-left: 60px;} 
.feature-content{}
/*--------- feature center --------*/
.feature-center{text-align: center;}
.feature-center .feature-icon{margin-bottom: 20px;}

/*-------- team --------*/

.team-block{position: relative;}
.team-block img{width: 100%;}
.team-img{position: relative;}
.team-info{}
.team-name{}
.team-meta{}
.meta-desgnation{font-size: 14px; font-weight: 600; text-transform: uppercase; color: #4588f9;}
.team-social{}
.team-social a{    color: #858f9f;
    border: 1px solid #f2f6ff;
    background-color: #f2f6ff;
    padding: 6px 10px;
    border-radius: 4px;}
.team-social a:hover{color: #4588f9;}
.team-desc {position: absolute; bottom: 20px; left: 20px; width: 88%;}
.team-connent{font-size: 12px; font-weight: 600; text-transform: uppercase; color: #2f343b; letter-spacing: 2px;}
/*-------- side-nav -------*/

.side-nav{}
.side-nav .nav>li>a{background-color: #f1f6ff; border-radius: 0px; padding: 25px 25px; font-size: 16px; 
  color: #313335; text-transform: uppercase; font-weight: 600;  line-height: 18px; position: relative; 
  display:block;  }
.side-nav .nav>li>a:hover{background-color: #dfeafd;color: #4588f9; }
.side-nav .nav-pills>li.active>a, 
.side-nav .nav-pills>li.active>a:focus, 
.side-nav .nav-pills>li.active>a:hover 
{  background-color: #dfeafd; color: #4588f9;}


/*---------------- Gallery Page ---------------*/
.gallery-block{margin-bottom: 30px;}
.gallery-img{}
.gallery-img img{opacity: .8;}
.gallery-img img:hover{opacity: 1;}


/*----------------- Gallery Wide ---------------*/
.gallery-wide{}
.gallery-wide .gallery-block{margin-bottom: 0px;}
.gallery-wide .gallery-img img{width: 100%;}
/*--------------------- Filterable Gallery -------------*/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
 
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.portfolioContainer {
   
}
.portfolioFilter{margin-bottom:30px; text-align: center;}
.portfolioFilter a{color: #333; font-size: 13px;text-decoration: none; padding:5px 20px; letter-spacing: 1px;
  background-color: #e5eefc; border-radius: 3px;}
.portfolioFilter a:hover{color: #fff;text-decoration: none; background-color: #3f7de0;}
.portfolioFilter a.current{color: #fff;text-decoration: none; background-color: #4588f9;}

/*-------- hero --------*/
.hero{background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(0, 0, 0, 0.6) url(../images/hero-img.jpg) no-repeat center;
    background-size: cover; color: #fff; margin: 0; border: none; position: relative;   padding: 150px 0px;}
.hero-caption{margin-top: 0px; padding-bottom: 50px; padding-top: 50px;}
/*-------- cta --------*/
.cta{background: url(../images/cta.jpg) no-repeat; }
.cta-title{color: #fef9f9;}
.cta-text{}
.action-btn{}
/*-------- footer --------*/
.footer{background-color: #282826;} 
.footer-widget{color: #757572;}
.footer-title{margin-bottom: 30px; text-transform: uppercase; font-weight: 500;}
.footer-widget ul{}
.footer-widget ul li{border-bottom: 1px solid #343432; padding-bottom: 20px; margin-bottom: 20px;}
.footer-widget ul li a:hover{color: #ffde00;}
.footer-widget ul li a{color: #757572;}
.footer-widget ul i{margin-right: 24px;}
/*-------- tiny footer --------*/
.tiny-footer{background-color: #282826; font-size: 14px;
padding: 25px 0; border-top: 1px solid #343432; text-align: center;
color: #757572;}

/********** Extra Plugin CSS - Back to top **********/

.cd-top {display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px;
  overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(255, 222, 0, 100) url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0; 
  -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s;
 transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
 -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s;
 transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible { /* the button becomes visible */ visibility: visible; opacity: 1;}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;}
.no-touch .cd-top:hover {background-color: #38a0de; opacity: 1;}

/*============= Laptop 1366 ===========*/
@media screen and (max-width: 1366px) {
} 
@media screen and (max-width: 320px) {
.navbar-brand {float: none;}
.hero {padding: 0px;}
.navigation-transparent{position: relative; background-color: #1b2026;}
.childern {padding-left: 0px;}
}
/* Custom sizes (768px to 1024px) */

@media screen and (max-width: 768px) { 
.navbar-brand {float: none;}
.childern {padding-left: 0px;}
}


