#info-bar {
    position: fixed;
    bottom: 2.2rem;
    right: 0;
    width: 20%;
    background-color: #cacacaae;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.1);
}

#info-bar p {
    margin: 5px 0;
}