  .drag-window {
    position: fixed;
    right: 0.5rem;
    bottom: 2.5rem;
    width: 20%;
    background-color: #cacaca;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: grab;
    user-select: none;
  }
  
  .drag-window-header {
    cursor: move;
    padding: 5px;
    background-color: #333;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .drag-window-content {
    padding: 10px;
    text-align: center;
  }
  
  .dragging {
    cursor: grabbing;
  }