#TOPBANNER {
    display: block;
    height: 2rem;
    width: 100%;
    padding: 0 20px;
    position: fixed; /* 确保横幅固定在顶部 */
    top: 0; /* 确保横幅在顶部，这里加上单位 */
    left: 0; /* 确保横幅从左边开始 */
    right: 0; /* 确保横幅延伸到右边 */
    background: #fff; /* 可以设置一个背景色 */
    z-index: 1000; /* 确保横幅在最上层 */
  }
  
  #TOPBANNER p {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center; /* 使用flexbox垂直居中内容 */
    justify-content: center; /* 水平居中内容 */
  }
  
  #TOPBANNER a {
    margin-left: 5px; /* 只设置左边的外边距 */
    margin-right: 5px;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }