  #TOPBANNER {
    display: block;
    height: 3rem;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    bottom: 0; /* 确保横幅在底部，这里加上单位 */
    left: 0; /* 确保横幅从左边开始 */
    right: 0; /* 确保横幅延伸到右边 */
    background: #fff; /* 可以设置一个背景色 */
    z-index: 100; /* 确保横幅在最上层 */
  }
  
  #TOPBANNER p {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center; /* 使用flexbox垂直居中内容 */
    justify-content: center; /* 水平居中内容 */
  }
  
  #TOPBANNER a {
    margin-left: 5px; /* 只设置左边的外边距 */
    margin-right: 5px;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .drag-window {
    position: fixed; /* 绝对定位，相对于浏览器窗口固定位置 */
    height: 10%; /* 窗口高度设置为其父容器高度的20% */
    right: 0.3rem; /* 窗口距离父容器右侧的距离为0.5rem */
    bottom: 3.2rem; /* 窗口距离父容器底部的距离为2.5rem */
    width: 30%; /* 窗口宽度设置为其父容器宽度的x% */
    background-color: #cacacaca; /* 设置窗口背景颜色为带有透明度的灰色 */
    padding: 2px; /* 窗口内部的间距为10px */
    border-radius: 5px; /* 窗口边框圆角为10px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加窗口阴影效果 */
    z-index: 1000; /* 设置窗口的堆叠顺序，数值越大越靠上 */
    cursor: grab; /* 鼠标悬停时显示可抓取的光标 */
    user-select: none; /* 防止用户选中文本 */
  }

  .drag-window-header {
    cursor: move; /* 鼠标悬停时显示可移动的光标 */
    font-size: 0.8rem;
    padding: 2px; /* 标题内部的间距为5px */
    background-color: #333; /* 设置标题背景颜色为深灰色 */
    color: white; /* 设置标题文字颜色为白色 */
    text-align: center; /* 文本居中对齐 */
    border-top-left-radius: 5px; /* 标题左上角圆角为10px */
    border-top-right-radius: 5px; /* 标题右上角圆角为10px */
  }

  .drag-window-content {
    font-size: 0.8rem;
    padding: 2px; /* 内容区域内部的间距为10px */
    text-align: center; /* 文本居中对齐 */
    line-height: 0.2;
  }
  
  .dragging {
    cursor: grabbing;
  }